@keyframes fadeInAndSlideDown {
  0% {
    /* start CSS properties */
  }

  100% {
    /* end CSS properties */
  }
}

@-webkit-keyframes fadeInAndSlideDown {
  0% {
    /* start CSS properties */
  }

  100% {
    /* end CSS properties */
  }
}

@-moz-keyframes fadeInAndSlideDown {
  0% {
    /* start CSS properties */
  }

  100% {
    /* end CSS properties */
  }
}

.fadeInAndSlideDown {
  /* animation: animationName duration delay easing forwards; */
  animation: fadeInAndSlideDown 1s 0.5s ease forwards;
  -webkit-animation: fadeInAndSlideDown 1s 0.5s ease forwards;
  -moz-animation: fadeInAndSlideDown 1s 0.5s ease forwards;
}

